<!DOCTYPE html>
<html>
  <head>
    <title>Stories</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= react_component("Sidebar", {menu: asset_url("menu-black.svg"), 
    home: button_to("Home", {}, {class: "menu-inner"}),
    about: button_to("About", {}, {class: "menu-inner"}), 
    contact: button_to("Contact Us", {}, {class: "menu-inner"}),
    hide: asset_url("close-black.svg")}) %>
    <%= yield %>
    <%= react_component("Footer") %>
  </body>
</html>
